//colors
$color:
(
    primary:  #FF9C25,
    dark: #1D1F27,
    geo_grey: #a5a5a9,
    geo_grey_light: #F4F5F7,

);

//font-imports
@font-face {
    font-family: 'ubuntu-regular';
    src: url('../../fonts/Ubuntu-Regular.ttf') format('truetype');
};
@font-face {
    font-family: 'ubuntu-light';
    src: url('../../fonts/Ubuntu-Light.ttf') format('truetype');
};
@font-face {
    font-family: 'ubuntu-bold';
    src: url('../../fonts/Ubuntu-Bold.ttf') format('truetype');
};
@font-face {
    font-family: 'ubuntu-semi-bold';
    src: url('../../fonts/Ubuntu-Medium.ttf') format('truetype');
};

//font-family
$font__family: (
	base:'ubuntu-regular', // font-family(base)
	light:'ubuntu-light', // font-family(base)
	bold:'ubuntu-bold', // font-family(base)
	semi_bold:'ubuntu-semi-bold', // font-family(base)
);

